os: osx
dist: osx
language: swift
osx_image: xcode8

script:
  - ./.spark-chamber_tests.sh
  - bash <(curl -s https://codecov.io/bash) -cF spark_chamber -J SparkChamber
  - ./.spark-kit_tests.sh
  - bash <(curl -s https://codecov.io/bash) -cF spark_kit -J SparkKit
